pip3-autoremove
torch>=2.1.0 --index-url https://download.pytorch.org/whl/cu128
torchvision --index-url https://download.pytorch.org/whl/cu128
torchaudio --index-url https://download.pytorch.org/whl/cu128
xformers --index-url https://download.pytorch.org/whl/cu128
unsloth
torchao>=0.16.0
transformers==4.56.2
trl==0.22.2
groq
datasets
ipywidgets